@import "./utils/variables";
@import "./Base/typography";


a{
    text-decoration: none;
    outline: none;
    color: inherit;
}
.home, .howto{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: $background-color-footer;
    color: white;
}