/*COLORS*/
/*MIXINS*/
/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.title, .logo {
  font-family: 'Shrikhand', Arial, sans-serif;
}

:not(.title, .logo) {
  font-family: 'Roboto', Arial, sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #353535;
  color: white;
}

footer ul {
  padding: 0px;
  margin: 0px;
  padding-left: 20px;
  padding-top: 20px;
}

footer ul li {
  margin: 7px;
}

footer ul li .logo {
  margin-bottom: 10px;
}

.homecard {
  border-radius: 15px;
  background-color: white;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 7px #e7e7e7;
          box-shadow: 3px 3px 7px #e7e7e7;
}

.homecard a {
  display: block;
}

.homecard a img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.homecard-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.homecard-text h2 {
  margin: 0px;
  margin-top: 10px;
}

.homecard-text p {
  margin: 0px;
  margin-bottom: 10px;
}

.steps {
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.steps li {
  border-radius: 20px;
  background-color: #f6f6f6;
  -webkit-box-shadow: 3px 3px 7px #e7e7e7;
          box-shadow: 3px 3px 7px #e7e7e7;
  font-weight: 700;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  position: relative;
}

.step--number {
  background-color: violet;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*margin-left: -10px;*/
  position: absolute;
  left: -10px;
}

/*GENREAL*/
body {
  margin: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

.home, .howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

ul {
  list-style: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding: 10px;
}

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */