.menucard{
    transition: all 2s;
}

.menucard--checkmark{
    display: flex;
    flex: 0%;
    max-width: 60px;
    background-color: $checkbackground-color;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.menucard--checkmark span{
    display: flex;
    padding: 10px;
    align-self: center;
    color: white;
    font-size: x-large;
}

.menucard:hover .menucard--checkmark{
   flex: 25%;
}
.menucard:hover .menucard--checkmark span{
    animation: rotate 1s ease-in-out both;
}

@keyframes rotate{
    40%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(-1turn);
    }
}
