.fullheart{
    position: relative;
    font-size: x-large;
    transition: all 0.4s ease-in-out;
    color: white;
}
.emptyheart{
    position: absolute;
    top: 0;
    right: 0;   
    transition: all 0.6s ease-out;
    opacity: 1;
    color: black;
}

.fullheart:hover{
    color: transparent;
    background-image: $heart-color;
    background-clip: text;
    -webkit-background-clip: text;
    transform: scale(1.1)
}

.fullheart:hover .emptyheart{
    opacity: 0;
    transform: scale(0.9)
}