.notloader{
  animation: appear 3.5s ease-in-out;
}

.loader{
  position: fixed;
  top: 25%;
  left: 40%;
  margin: auto;
  right: 40%;
  min-width: 90px;
  max-width: 90px;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid $primary-color;
    border-color: $third-color $secondary-color $primary-color transparent;
    animation: lds-dual-ring 2.5s cubic-bezier(.19,.05,0,1) forwards;
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    30%{
        transform: rotate(360deg);
    }
    60%{
        transform: rotate(0deg);
        opacity: 1;
    }
    65%{
        transform: rotate(0deg);
        opacity: 0.9;
    }
    90%{
        transform: rotate(360deg);
        opacity: 0.7;
    }
    100% {
      transform: rotate(200turn);
      opacity: 0;
    }
  }

  @keyframes appear {
    0%{
      opacity: 0;
    }
    50%{
      opacity: 0.2;
    }
    100%{
      opacity: 1;
    }
  }

  @media screen and (min-width: 1000px){
    .loader{
      position: fixed;
      top: 30%;
    }
  }
  @media screen and (min-width: 992px) and (max-width:999px){
    .loader{
      position: fixed;
      top: 45%;
    }
}