.menusection{
    margin-bottom: 20px;

        &--title{
            font-weight: lighter;
            font-size: medium;
            margin-bottom: 5px;
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                bottom: -7px;
                left: 0px;
                border-bottom: solid 3px $newbackground-color;
                width: 40px;
            }
    }
}