.steps {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    & li{
        @include stepcard;
        font-weight: 700;
        margin: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        &:hover{
            background-color: $step-hover-background-color;            
        }
    }
}

.step--number{
    background-color: $step-number-color;
    color: white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*margin-left: -10px;*/
    position: absolute;
    left: -10px;
}

.steps span:not(.step--number){
    color: $step-icon-color;
}
