footer{
    display: flex;
    flex-direction: column;
    background-color: $background-color-footer;
    color: white;
    & a {
        display: flex;
        gap: 15px;
    }
}
footer ul{
    padding: 20px;
    margin: 0px;
    
 & li{
    margin: 7px;
    }
 & .logo{
    margin-bottom: 15px;
    margin-left: 7px;
   } 
}

