.menucard{
    @include homepagearticle;
    overflow: hidden;
    & a{
        display: flex;
    }
    &--content{
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &--dish{
        margin: 0px;
        padding: 10px;
        padding-bottom: 5px;
        font-size: medium;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &--text{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-top: 0px;
        &--accompaniement{
            margin: 0px;
            font-size: small;
            word-break: break-word;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--price{
            margin: 0px;
            font-size: small;
            font-weight: bold;
        }
    }
}