.menucard{
    @include homepagearticle;
    &--dish{
        margin: 0px;
        padding: 10px;
        padding-bottom: 5px;
        font-size: medium;
    }
    &--text{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-top: 0px;
        &--accompaniement{
            margin: 0px;
            font-size: small;
        }
        &--price{
            margin: 0px;
            font-size: small;
            font-weight: bold;
        }
    }
}