.one, .two, .three, .four {
    @include slide-in
}
.two {
	animation-delay: 0.2s;
}
.three {
    animation-delay: 0.4s;
}
.four{
    animation-delay: 0.6s;
}

@keyframes slide-in-bottom {
    0% {
    transform: translateY(10px);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
  }