.location{
    background-color: $mapbackground-color;
    box-shadow: inset 0px 2px 5px $mapshadow-color;
    display:flex;
    justify-content: center;   
    gap: 15px;
    & span{
        align-items: center;
        display: flex;
    }
    & p{
        font-weight: 500;
        font-size: large;
    }
}

.explore{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 20px;
    & p{
        font-size: large;
    }
}