.location{
    background-color: $mapbackground-color;
    box-shadow: inset 0px 2px 5px $mapshadow-color;
    display:flex;
    justify-content: center;   
    gap: 15px;
    & span{
        align-items: center;
        display: flex;
    } 
    & input{
        background-color: $mapbackground-color;
        margin-top: 12px;
        margin-bottom: 12px;
        font-size: large;
        font-weight: 500;
        border: solid 1px $primary-color;
        border-radius: 20px;
        padding: 5px;
        text-align: center;
    }
}

.explore{
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 20px;
    & p{
        font-size: large;
    }
}